# See https://help.github.com/articles/about-codeowners/
# for further details about the .github/CODEOWNERS file.

# It uses the same pattern rule for gitignore file
# https://git-scm.com/docs/gitignore#_pattern_format
# Notably, a later match overrides earlier matches, so order matters.
# If using a wildcard pattern, try to be as specific as possible to avoid
# matching unintended files or overriding previous entries.
# To exclude a file from ownership, add a line with only the file.
# See the exclusions section at the end of the file for examples.

# =======
# Purpose
# =======
#
# An entry in this file does not imply 'ownership', despite the name of the
# file, but instead that those listed take an interest in that part of the
# project and will automatically be added as reviewers to PRs that affect
# the matching files.
# See also the Experts Index in the Python Developer's Guide:
# https://devguide.python.org/core-developers/experts/
#
# =========
# Structure
# =========
#
# The CODEOWNERS file is organised by topic area.
# Please add new entries in alphabetical order within the relevant section.
# Where possible, keep related files together. For example, documentation,
# code, and tests for a given item should all be listed in the same place.
#
# GitHub usernames should be aligned to column 31, or the next multiple
# of three if the relevant paths are too long to fit.
#
# Top-level sections are:
#
# * Buildbots, Continuous Integration, and Testing
#     project-wide configuration files, internal tools for use in CI,
#     linting.
# * Build System
#     the Makefile, autoconf, and other autotools files.
# * Documentation
#     broader sections of documentation, documentation tools
# * Internal Tools & Data
#     internal tools, integration with external systems,
#     entries that don't fit elsewhere
# * Platform Support
#     relating to support for specific platforms
# * Interpreter Core
#     the grammar, parser, compiler, interpreter, etc.
# * Standard Library
#     standard library modules (from both Lib and Modules)
#     and related files (such as their tests and docs)
# * Exclusions
#     exclusions from .github/CODEOWNERS should go at the very end
#     because the final matching pattern will take precedence.

# ----------------------------------------------------------------------------
# Buildbots, Continuous Integration, and Testing
# ----------------------------------------------------------------------------

# Azure Pipelines
.azure-pipelines/ @zrsx/core-dev

# GitHub & related scripts
.github/ @zrsx/core-dev
Tools/build/compute-changes.py @zrsx/core-dev
Lib/test/test_tools/test_compute_changes.py @zrsx/core-dev
Tools/build/verify_ensurepip_wheels.py @zrsx/core-dev

# Pre-commit
.pre-commit-config.yaml @zrsx/core-dev
.ruff.toml @zrsx/core-dev

# Patchcheck
Tools/patchcheck/ @zrsx/core-dev


# ----------------------------------------------------------------------------
# Build System
# ----------------------------------------------------------------------------

# Autotools
configure* @zrsx/core-dev
Makefile.pre.in @zrsx/core-dev
Modules/makesetup @zrsx/core-dev
Modules/Setup* @zrsx/core-dev
Tools/build/regen-configure.sh @zrsx/core-dev

# generate-build-details
Tools/build/generate-build-details.py @zrsx/core-dev
Lib/test/test_build_details.py @zrsx/core-dev


# ----------------------------------------------------------------------------
# Documentation
# ----------------------------------------------------------------------------

# Internal Docs
InternalDocs/ @zrsx/core-dev

# Tools, Configuration, etc
Doc/Makefile @zrsx/core-dev
Doc/_static/ @zrsx/core-dev
Doc/conf.py @zrsx/core-dev
Doc/make.bat @zrsx/core-dev
Doc/requirements.txt @zrsx/core-dev
Doc/tools/ @zrsx/core-dev

# PR Previews
.readthedocs.yml @zrsx/core-dev

# Sections
Doc/c-api/ @zrsx/core-dev
Doc/reference/ @zrsx/core-dev
Doc/whatsnew/ @zrsx/core-dev


# ----------------------------------------------------------------------------
# Internal Tools and Data
# ----------------------------------------------------------------------------

# Argument Clinic
Tools/clinic/ @zrsx/core-dev
Lib/test/test_clinic.py @zrsx/core-dev
Doc/howto/clinic.rst @zrsx/core-dev

# C Analyser
Tools/c-analyzer/ @zrsx/core-dev

# C API Documentation Checks
Tools/check-c-api-docs/ @zrsx/core-dev

# Fuzzing
Modules/_xxtestfuzz/ @zrsx/core-dev

# Limited C API & Stable ABI
Doc/c-api/stable.rst @zrsx/core-dev
Doc/data/*.abi @zrsx/core-dev
Misc/stable_abi.toml @zrsx/core-dev
Tools/build/stable_abi.py @zrsx/core-dev

# SBOM
Misc/externals.spdx.json @zrsx/core-dev
Misc/sbom.spdx.json @zrsx/core-dev
Tools/build/generate_sbom.py @zrsx/core-dev

# ABI check
Misc/libabigail.abignore @zrsx/core-dev


# ----------------------------------------------------------------------------
# Platform Support
# ----------------------------------------------------------------------------

# Android
Android/ @zrsx/core-dev
Doc/using/android.rst @zrsx/core-dev
Lib/_android_support.py @zrsx/core-dev
Lib/test/test_android.py @zrsx/core-dev

# iOS
Doc/using/ios.rst @zrsx/core-dev
Lib/_ios_support.py @zrsx/core-dev
Apple/ @zrsx/core-dev
iOS/ @zrsx/core-dev

# macOS
Mac/ @zrsx/core-dev
Lib/_osx_support.py @zrsx/core-dev
Lib/test/test__osx_support.py @zrsx/core-dev

# WebAssembly
Tools/wasm/README.md @zrsx/core-dev

# WebAssembly (Emscripten)
Tools/wasm/config.site-wasm32-emscripten @zrsx/core-dev
Tools/wasm/emscripten @zrsx/core-dev

# WebAssembly (WASI)
Platforms/WASI @zrsx/core-dev
Tools/wasm/wasi-env @zrsx/core-dev
Tools/wasm/wasi.py @zrsx/core-dev
Tools/wasm/wasi @zrsx/core-dev

# Windows
PC/ @zrsx/core-dev
PCbuild/ @zrsx/core-dev

# Windows installer packages
Tools/msi/ @zrsx/core-dev
Tools/nuget/ @zrsx/core-dev

# Windows Launcher
PC/launcher.c @zrsx/core-dev


# ----------------------------------------------------------------------------
# Interpreter Core
# ----------------------------------------------------------------------------

# AST
Lib/_ast_unparse.py @zrsx/core-dev
Lib/ast.py @zrsx/core-dev
Lib/test/test_ast/ @zrsx/core-dev
Parser/asdl.py @zrsx/core-dev
Parser/asdl_c.py @zrsx/core-dev
Python/ast.c @zrsx/core-dev
Python/ast_preprocess.c @zrsx/core-dev

# Built-in types
Objects/call.c @zrsx/core-dev
Objects/codeobject.c @zrsx/core-dev
Objects/dict* @zrsx/core-dev
Objects/frameobject.c @zrsx/core-dev
**/*genobject* @zrsx/core-dev
Objects/object.c @zrsx/core-dev
Objects/set* @zrsx/core-dev
Objects/type* @zrsx/core-dev
Objects/typevarobject.c @zrsx/core-dev
Objects/unionobject.c @zrsx/core-dev

# Byte code interpreter ('the eval loop')
Python/bytecodes.c @zrsx/core-dev
Python/ceval* @zrsx/core-dev
Tools/cases_generator/ @zrsx/core-dev

# Compiler (AST to byte code)
Python/assemble.c @zrsx/core-dev
Python/codegen.c @zrsx/core-dev
Python/compile.c @zrsx/core-dev
Python/flowgraph.c @zrsx/core-dev
Python/instruction_sequence.c @zrsx/core-dev
Python/symtable.c @zrsx/core-dev

# Context variables & HAMT
**/contextvars* @zrsx/core-dev
**/*hamt* @zrsx/core-dev
Include/cpython/context.h @zrsx/core-dev
Include/internal/pycore_context.h @zrsx/core-dev
Lib/test/test_context.py @zrsx/core-dev
Python/context.c @zrsx/core-dev

# Core Modules
**/*bltinmodule* @zrsx/core-dev
**/*sysmodule* @zrsx/core-dev

# Exceptions
Lib/test/test_except*.py @zrsx/core-dev
Objects/exceptions.c @zrsx/core-dev

# Getpath
Lib/test/test_getpath.py @zrsx/core-dev
Modules/getpath* @zrsx/core-dev

# Hashing / ``hash()`` and related
Include/cpython/pyhash.h @zrsx/core-dev
Include/internal/pycore_pyhash.h @zrsx/core-dev
Include/pyhash.h @zrsx/core-dev
Python/pyhash.c @zrsx/core-dev

# The import system (including importlib)
**/*import* @zrsx/core-dev
Python/import.c @zrsx/core-dev
**/*freeze* @zrsx/core-dev
**/*frozen* @zrsx/core-dev
**/*modsupport* @zrsx/core-dev
**/*modulefinder* @zrsx/core-dev
**/*moduleobject* @zrsx/core-dev
**/*multiphase* @zrsx/core-dev
**/*pkgutil* @zrsx/core-dev
**/*pythonrun* @zrsx/core-dev
**/*runpy* @zrsx/core-dev
**/*singlephase* @zrsx/core-dev
Doc/c-api/module.rst @zrsx/core-dev
Lib/test/test_module/ @zrsx/core-dev
Python/dynload_*.c @zrsx/core-dev

# Initialisation
**/*initconfig* @zrsx/core-dev
**/*pathconfig* @zrsx/core-dev
**/*preconfig* @zrsx/core-dev
Doc/library/sys_path_init.rst @zrsx/core-dev
Doc/c-api/init_config.rst @zrsx/core-dev

# Interpreter main program
Modules/main.c @zrsx/core-dev
Programs/_bootstrap_python.c @zrsx/core-dev
Programs/python.c @zrsx/core-dev

# JIT
.github/workflows/jit.yml @zrsx/core-dev
Include/internal/pycore_jit.h @zrsx/core-dev
Python/jit.c @zrsx/core-dev
Tools/jit/ @zrsx/core-dev
InternalDocs/jit.md @zrsx/core-dev

# Lazy imports (PEP 810)
Objects/lazyimportobject.c @zrsx/core-dev
Include/internal/pycore_lazyimportobject.h @zrsx/core-dev
Lib/test/test_lazy_import @zrsx/core-dev

# Micro-op / μop / Tier 2 Optimiser
Python/optimizer.c @zrsx/core-dev
Python/optimizer_analysis.c @zrsx/core-dev
Python/optimizer_bytecodes.c @zrsx/core-dev
Python/optimizer_symbols.c @zrsx/core-dev

# Parser, Lexer, and Grammar
Grammar/python.gram @zrsx/core-dev
Lib/test/test_peg_generator/ @zrsx/core-dev
Lib/test/test_tokenize.py @zrsx/core-dev
Lib/tokenize.py @zrsx/core-dev
Parser/ @zrsx/core-dev
Tools/peg_generator/ @zrsx/core-dev

# Runtime state/lifecycle
**/*gil* @zrsx/core-dev
**/*pylifecycle* @zrsx/core-dev
**/*pystate* @zrsx/core-dev
Include/internal/pycore_*_init.h @zrsx/core-dev
Include/internal/pycore_*_state.h @zrsx/core-dev
Include/internal/pycore_atexit.h @zrsx/core-dev
Include/internal/pycore_freelist.h @zrsx/core-dev
Include/internal/pycore_global_objects.h @zrsx/core-dev
Include/internal/pycore_interp.h @zrsx/core-dev
Include/internal/pycore_obmalloc.h @zrsx/core-dev
Include/internal/pycore_pymem.h @zrsx/core-dev
Include/internal/pycore_runtime.h @zrsx/core-dev
Include/internal/pycore_stackref.h @zrsx/core-dev
Include/internal/pycore_tstate.h @zrsx/core-dev
Tools/build/generate_global_objects.py @zrsx/core-dev

# Remote Debugging
Python/remote_debug.h @zrsx/core-dev
Python/remote_debugging.c @zrsx/core-dev
Modules/_remote_debugging/ @zrsx/core-dev

# Sub-Interpreters
**/*crossinterp* @zrsx/core-dev
**/*interpreteridobject.* @zrsx/core-dev
Doc/library/concurrent.interpreters.rst @zrsx/core-dev
Lib/concurrent/futures/interpreter.py @zrsx/core-dev
Lib/concurrent/interpreters/ @zrsx/core-dev
Lib/test/support/channels.py @zrsx/core-dev
Lib/test/test__interp*.py @zrsx/core-dev
Lib/test/test_interpreters/ @zrsx/core-dev
Modules/_interp*module.c @zrsx/core-dev

# Template string literals (t-strings)
Lib/test/test_tstring.py @zrsx/core-dev
Objects/interpolationobject.c @zrsx/core-dev
Objects/templateobject.c @zrsx/core-dev

# Tests
Lib/test/test_patma.py @zrsx/core-dev
Lib/test/test_type_*.py @zrsx/core-dev
Lib/test/test_capi/test_misc.py @zrsx/core-dev


# ----------------------------------------------------------------------------
# Standard Library
# ----------------------------------------------------------------------------

# Annotationlib
Doc/library/annotationlib.rst @zrsx/core-dev
Lib/annotationlib.py @zrsx/core-dev
Lib/test/test_annotationlib.py @zrsx/core-dev

# Argparse
Doc/**/argparse*.rst @zrsx/core-dev
Lib/argparse.py @zrsx/core-dev
Lib/test/test_argparse.py @zrsx/core-dev

# Asyncio
Doc/library/asyncio*.rst @zrsx/core-dev
InternalDocs/asyncio.md @zrsx/core-dev
Lib/asyncio/ @zrsx/core-dev
Lib/test/test_asyncio/ @zrsx/core-dev
Modules/_asynciomodule.c @zrsx/core-dev

# Bisect
Doc/library/bisect.rst @zrsx/core-dev
Lib/bisect.py @zrsx/core-dev
Lib/test/test_bisect.py @zrsx/core-dev
Modules/_bisectmodule.c @zrsx/core-dev

# Calendar
Lib/calendar.py @zrsx/core-dev
Lib/test/test_calendar.py @zrsx/core-dev

# Cryptographic Primitives and Applications
**/*hashlib* @zrsx/core-dev
**/*hashopenssl* @zrsx/core-dev
**/*hmac* @zrsx/core-dev
**/*ssl* @zrsx/core-dev
Modules/_hacl/ @zrsx/core-dev
Modules/*blake* @zrsx/core-dev
Modules/*md5* @zrsx/core-dev
Modules/*sha* @zrsx/core-dev

# Codecs
Modules/cjkcodecs/ @zrsx/core-dev
Tools/unicode/gencjkcodecs.py @zrsx/core-dev

# Collections
Doc/library/collections.abc.rst @zrsx/core-dev
Doc/library/collections.rst @zrsx/core-dev
Lib/_collections_abc.py @zrsx/core-dev
Lib/collections/ @zrsx/core-dev
Lib/test/test_collections.py @zrsx/core-dev
Modules/_collectionsmodule.c @zrsx/core-dev

# Colorize
Lib/_colorize.py @zrsx/core-dev
Lib/test/test__colorize.py @zrsx/core-dev

# Config Parser
Lib/configparser.py @zrsx/core-dev
Lib/test/test_configparser.py @zrsx/core-dev

# Dataclasses
Doc/library/dataclasses.rst @zrsx/core-dev
Lib/dataclasses.py @zrsx/core-dev
Lib/test/test_dataclasses/ @zrsx/core-dev

# Dates and times
Doc/**/*time.rst @zrsx/core-dev
Doc/library/datetime-* @zrsx/core-dev
Doc/library/zoneinfo.rst @zrsx/core-dev
Include/datetime.h @zrsx/core-dev
Include/internal/pycore_time.h @zrsx/core-dev
Lib/test/test_zoneinfo/ @zrsx/core-dev
Lib/zoneinfo/ @zrsx/core-dev
Lib/*time.py @zrsx/core-dev
Lib/test/datetimetester.py @zrsx/core-dev
Lib/test/test_*time.py @zrsx/core-dev
Modules/*zoneinfo* @zrsx/core-dev
Modules/*time* @zrsx/core-dev
Python/pytime.c @zrsx/core-dev

# Dbm
Doc/library/dbm.rst @zrsx/core-dev
Lib/dbm/ @zrsx/core-dev
Lib/test/test_dbm*.py @zrsx/core-dev
Modules/*dbm* @zrsx/core-dev

# Email and related
**/*mail* @zrsx/core-dev
**/*smtp* @zrsx/core-dev
**/*mime* @zrsx/core-dev
**/*imap* @zrsx/core-dev
**/*poplib* @zrsx/core-dev

# Ensurepip
Doc/library/ensurepip.rst @zrsx/core-dev
Lib/ensurepip/ @zrsx/core-dev
Lib/test/test_ensurepip.py @zrsx/core-dev

# Enum
Doc/howto/enum.rst @zrsx/core-dev
Doc/library/enum.rst @zrsx/core-dev
Lib/enum.py @zrsx/core-dev
Lib/test/test_enum.py @zrsx/core-dev
Lib/test/test_json/test_enum.py @zrsx/core-dev

# FTP
Doc/library/ftplib.rst @zrsx/core-dev
Lib/ftplib.py @zrsx/core-dev
Lib/test/test_ftplib.py @zrsx/core-dev

# Functools
Doc/library/functools.rst @zrsx/core-dev
Lib/functools.py @zrsx/core-dev
Lib/test/test_functools.py @zrsx/core-dev
Modules/_functoolsmodule.c @zrsx/core-dev

# Garbage collector
Modules/gcmodule.c @zrsx/core-dev
Doc/library/gc.rst @zrsx/core-dev
InternalDocs/garbage_collector.md @zrsx/core-dev

# Gettext
Doc/library/gettext.rst @zrsx/core-dev
Lib/gettext.py @zrsx/core-dev
Lib/test/test_gettext.py @zrsx/core-dev
Tools/i18n/pygettext.py @zrsx/core-dev

# Heapq
Doc/library/heapq* @zrsx/core-dev
Lib/heapq.py @zrsx/core-dev
Lib/test/test_heapq.py @zrsx/core-dev
Modules/_heapqmodule.c @zrsx/core-dev

# HTML
Doc/library/html* @zrsx/core-dev
Lib/html/ @zrsx/core-dev
Lib/_markupbase.py @zrsx/core-dev
Lib/test/test_html*.py @zrsx/core-dev
Tools/build/parse_html5_entities.py @zrsx/core-dev

# IDLE
Doc/library/idle.rst @zrsx/core-dev
Lib/idlelib/ @zrsx/core-dev
Lib/turtledemo/ @zrsx/core-dev

# importlib.metadata
Doc/library/importlib.metadata.rst @zrsx/core-dev
Lib/importlib/metadata/ @zrsx/core-dev
Lib/test/test_importlib/metadata/ @zrsx/core-dev

# importlib.resources
Doc/library/importlib.resources.abc.rst @zrsx/core-dev
Doc/library/importlib.resources.rst @zrsx/core-dev
Lib/importlib/resources/ @zrsx/core-dev
Lib/test/test_importlib/resources/ @zrsx/core-dev

# Itertools
Doc/library/itertools.rst @zrsx/core-dev
Lib/test/test_itertools.py @zrsx/core-dev
Modules/itertoolsmodule.c @zrsx/core-dev

# Logging
Doc/**/logging* @zrsx/core-dev
Lib/logging/ @zrsx/core-dev
Lib/test/test_logging.py @zrsx/core-dev

# Multiprocessing
Doc/library/multiprocessing*.rst @zrsx/core-dev
Lib/multiprocessing/ @zrsx/core-dev
Lib/test/*multiprocessing.py @zrsx/core-dev
Lib/test/test_multiprocessing*/ @zrsx/core-dev
Modules/_multiprocessing/ @zrsx/core-dev

# Pathlib
Doc/library/pathlib.rst @zrsx/core-dev
Lib/pathlib/ @zrsx/core-dev
Lib/test/test_pathlib/ @zrsx/core-dev

# Pdb & Bdb
Doc/library/bdb.rst @zrsx/core-dev
Doc/library/pdb.rst @zrsx/core-dev
Lib/bdb.py @zrsx/core-dev
Lib/pdb.py @zrsx/core-dev
Lib/test/test_bdb.py @zrsx/core-dev
Lib/test/test_pdb.py @zrsx/core-dev
Lib/test/test_remote_pdb.py @zrsx/core-dev

# Pydoc
Lib/pydoc.py @zrsx/core-dev
Lib/pydoc_data/ @zrsx/core-dev
Lib/test/test_pydoc/ @zrsx/core-dev

# Profiling (Sampling)
Doc/library/profiling*.rst @zrsx/core-dev
Lib/profiling/ @zrsx/core-dev
Lib/test/test_profiling/ @zrsx/core-dev

# PyREPL
Lib/_pyrepl/ @zrsx/core-dev
Lib/test/test_pyrepl/ @zrsx/core-dev

# Random
Doc/library/random.rst @zrsx/core-dev
Lib/random.py @zrsx/core-dev
Lib/test/test_random.py @zrsx/core-dev
Modules/_randommodule.c @zrsx/core-dev

# Shutil
Doc/library/shutil.rst @zrsx/core-dev
Lib/shutil.py @zrsx/core-dev
Lib/test/test_shutil.py @zrsx/core-dev

# Site
Lib/site.py @zrsx/core-dev
Lib/test/test_site.py @zrsx/core-dev
Doc/library/site.rst @zrsx/core-dev

# string.templatelib
Doc/library/string.templatelib.rst @zrsx/core-dev
Lib/string/templatelib.py @zrsx/core-dev
Lib/test/test_string/test_templatelib.py @zrsx/core-dev

# Sysconfig
**/*sysconfig* @zrsx/core-dev

# SQLite 3
Doc/library/sqlite3.rst @zrsx/core-dev
Lib/sqlite3/ @zrsx/core-dev
Lib/test/test_sqlite3/ @zrsx/core-dev
Modules/_sqlite/ @zrsx/core-dev

# Subprocess
Lib/subprocess.py @zrsx/core-dev
Lib/test/test_subprocess.py @zrsx/core-dev
Modules/*subprocess* @zrsx/core-dev

# Tarfile
Doc/library/tarfile.rst @zrsx/core-dev
Lib/tarfile.py @zrsx/core-dev
Lib/test/test_tarfile.py @zrsx/core-dev

# TOML
Doc/library/tomllib.rst @zrsx/core-dev
Lib/test/test_tomllib/ @zrsx/core-dev
Lib/tomllib/ @zrsx/core-dev

# Typing
Doc/library/typing.rst @zrsx/core-dev
Lib/test/test_typing.py @zrsx/core-dev
Lib/test/typinganndata/ @zrsx/core-dev
Lib/typing.py @zrsx/core-dev
Modules/_typingmodule.c @zrsx/core-dev

# Types
Lib/test/test_types.py @zrsx/core-dev
Lib/types.py @zrsx/core-dev
Modules/_typesmodule.c @zrsx/core-dev

# Unittest
Lib/unittest/mock.py @zrsx/core-dev
Lib/test/test_unittest/testmock/ @zrsx/core-dev

# Urllib
**/*robotparser* @zrsx/core-dev

# Venv
**/*venv* @zrsx/core-dev

# Weakref
**/*weakref* @zrsx/core-dev

# Zipfile.Path
Lib/test/test_zipfile/_path/ @zrsx/core-dev
Lib/zipfile/_path/ @zrsx/core-dev

# Zstandard
Lib/compression/zstd/ @zrsx/core-dev
Lib/test/test_zstd.py @zrsx/core-dev
Modules/_zstd/ @zrsx/core-dev

# ----------------------------------------------------------------------------

# Exclusions from .github/CODEOWNERS should go at the very end
# because the final matching pattern will take precedence.

# Exclude .mailmap from being owned by @python/email-team
.mailmap @zrsx/core-dev

# Exclude Argument Clinic directories
Modules/**/clinic/ @zrsx/core-dev
Objects/**/clinic/ @zrsx/core-dev
PC/**/clinic/ @zrsx/core-dev
Python/**/clinic/ @zrsx/core-dev
